extend _base

block content
  div.docs-wrap
    include _sidenav
    div.docs-content.
      <h1>Framework7 Documentation</h1>
      <p>Start creating awesome iOS apps with Framework7. </p>
      <p>Before you start we highly recommend you to read <a href="../get-started/">Getting Started</a> guide about how to download/install Framework7 and look at its basic layout.</p>
      <p>Framework7's learning curve is pretty easy. If you know HTML, CSS and a bit of JavaScript - you almost know how to create iOS apps with Framework7.</p>
      <p>For better understanding we recommend you to read documentation articles in direct order like you see them in left navigation.</p>
      <p>So, let's start from basic <a href="app-layout.html">App HTML Layout</a></p>
